.about {

  width: 90%;
  max-width: 1000px;

  margin: 60px auto;

  padding: 50px 30px;

  text-align: center;

  background: var(--card);

  color: var(--text);

  border-radius: 20px;

  border: 1px solid rgba(0,191,166,0.3);

  box-shadow: var(--shadow);

  transition: 0.3s;

}



.about h2 {

  color: var(--primary);

  font-size: 38px;

  margin-bottom: 25px;

}



.about-icon {

  font-size: 80px;

  cursor: pointer;

  transition: 0.3s;

}



.about-icon:hover {

  transform: scale(1.1);

}



.about h3 {

  color: var(--primary);

  font-size: 26px;

  margin-top: 20px;

}



.about p {

  color: var(--text);

  max-width: 700px;

  margin: 20px auto;

  line-height: 1.8;

  font-size: 18px;

}



/* Light Mode */

body.light .about {

  background: white;

  color: #111;

}



body.light .about p {

  color: #333;

}



body.light .about h3 {

  color: #008f7a;

}



/* Mobile */

@media(max-width:768px){

  .about {

    width: 95%;

    padding: 30px 20px;

  }


  .about h2 {

    font-size: 30px;

  }


  .about h3 {

    font-size: 22px;

  }


  .about p {

    font-size: 16px;

  }

}