.contact {

  width: 90%;

  max-width: 800px;

  margin: 60px auto;

  padding: 50px 30px;

  text-align: center;

  background: var(--card);

  color: var(--text);

  border-radius: 20px;

  border: 1px solid rgba(0,191,166,0.25);

  box-shadow: var(--shadow);

  transition: 0.3s;

}



.contact h2 {

  color: var(--primary);

  font-size: 36px;

  margin-bottom: 25px;

}



.contact p {

  color: var(--text);

  font-size: 18px;

  margin: 12px 0;

}



/* Light Mode */

body.light .contact p {

  color: #333;

}



/* Mobile */

@media(max-width:768px){

  .contact {

    width: 95%;

    padding: 35px 20px;

  }


  .contact h2 {

    font-size: 30px;

  }


  .contact p {

    font-size: 16px;

  }

}