.header {

  min-height: 80vh;

  display: flex;

  justify-content: center;

  align-items: center;

  text-align: center;

  background: var(--bg);

  color: var(--text);

  padding: 40px 20px;

}


.hero-content {

  max-width: 800px;

}


.hero-content h1 {

  font-size: 55px;

  color: white;

}


.hero-content h1 span {

  color: var(--primary);

}


.hero-content p {

  font-size: 20px;

  color: var(--muted);

  margin: 25px 0;

}


.hero-content button {

  background: var(--primary);

  color: black;

  padding: 12px 30px;

  border-radius: 25px;

  border: none;

  cursor: pointer;

  font-weight: bold;

}


.hero-content button:hover {

  background: var(--secondary);

}



/* Light Mode */

body.light .header {

  background: #ffffff;

}


body.light .hero-content h1 {

  color: #111;

}


body.light .hero-content p {

  color: #333;

}