/* Mobile */
@media (max-width: 768px) {

  .projects {
    width: 95%;
    padding: 40px 20px;
  }

  .projects h2 {
    font-size: 30px;
  }

  .projects-grid {
    gap: 20px;
  }

  .project-card {
    width: 90%;
    max-width: 320px;
    min-height: 330px;
    display: flex;
    flex-direction: column;
  }

  .project-card h3 {
    margin-top: 25px;
  }

  .project-card p {
    line-height: 1.6;
  }

  .technology {
    margin-top: auto;
  }

  .project-card button {
    margin-top: 15px;
    width: 100%;
  }

  .details-box {
    width: 90%;
    padding: 20px;
  }

}